///*------------------------------------*\
//   #WRAPPER
//\*------------------------------------*/

//    Predefine the variables below in order to alter and enable specific features.
$plump-wrapper-namespace:      $plump-namespace !default;

$plump-wrapper-width:          1200px !default;
$plump-wrapper-width-narrow:   960px !default;
$plump-wrapper-width-wide:     1400px !default;
$plump-wrapper-padding:        $plump-base-spacing-unit !default;

$plump-enable-wrapper--narrow: false !default;
$plump-enable-wrapper--wide:   false !default;
$plump-enable-wrapper--flush:  false !default;





.#{$plump-wrapper-namespace}o-wrapper,
%#{$plump-wrapper-namespace}o-wrapper {
	max-width: $plump-wrapper-width;
	margin-right: auto;
	margin-left: auto;
	padding-right: $plump-wrapper-padding;
	padding-left: $plump-wrapper-padding;
}





@if ($plump-enable-wrapper--narrow == true) {

	.#{$plump-wrapper-namespace}o-wrapper--narrow,
	%#{$plump-wrapper-namespace}o-wrapper--narrow {
		max-width: $plump-wrapper-width-narrow;
	}

}





@if ($plump-enable-wrapper--wide == true) {

	.#{$plump-wrapper-namespace}o-wrapper--wide,
	%#{$plump-wrapper-namespace}o-wrapper--wide {
		max-width: $plump-wrapper-width-wide;
	}

}





@if ($plump-enable-wrapper--flush == true) {

	.#{$plump-wrapper-namespace}o-wrapper--flush,
	%#{$plump-wrapper-namespace}o-wrapper--flush {
		padding-right: 0;
		padding-left: 0;
	}
}
